soapapi/src/main/mule/soapapi.xml
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit-soap="http://www.mulesoft.org/schema/mule/apikit-soap" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/apikit-soap http://www.mulesoft.org/schema/mule/apikit-soap/current/mule-apikit-soap.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    
    <apikit-soap:config httpStatusVarName="httpStatus" name="soapkit-config" port="Notification" service="NotificationService" wsdlLocation="sfdc_outbound.wsdl"/>
    
	<flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="/NotificationService/Notification">
            <http:response statusCode="#[attributes.additionalTransportData.statusCode default 200]">
                <http:body>#[payload]</http:body>
                <http:headers>#[attributes.protocolHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[attributes.additionalTransportData.statusCode default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[attributes.protocolHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <logger level="INFO" doc:name="Log Payload" doc:id="3b86df54-195d-4c7d-ada7-5e534114ab76" message="Request received"/>
		<apikit-soap:router config-ref="soapkit-config">
            <apikit-soap:message>#[payload]</apikit-soap:message>
            <apikit-soap:attributes>#[
              %dw 2.0
              output application/java
              ---
              {
                  headers: attributes.headers,
                  method: attributes.method,
                  queryString: attributes.queryString
            }]</apikit-soap:attributes>
        </apikit-soap:router>
    </flow>
    <flow name="notifications:\soapkit-config">
		<logger level="INFO" doc:name="Log Payload" doc:id="9e53757c-8390-468c-bd54-07ae85cd929c" message="Log inside notifications"/>
		<ee:transform doc:name="Transform Message" doc:id="7396697b-e58f-4c65-8a62-be5770c1dd09">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"name": "axacj",
	"phone": 1246
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="Request" doc:id="851689ca-ed4b-46e1-b868-2d127daa76ab" config-ref="HTTP_Request_configuration" path="/ack">
			<http:headers ><![CDATA[#[output application/java
---
{
	"auth-token" : "amcs"
}]]]></http:headers>
		</http:request>
		<logger level="INFO" doc:name="Log Payload" doc:id="1ea58923-c316-49e2-9c6d-617192fda22d" message="Response payload=#[payload]"/>
		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
ns soap http://schemas.xmlsoap.org/soap/envelope
---
{
    body: {
        Ack: true
    } write "application/xml"
}]]>
                </ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
